@model StyleClub.Models.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
            width: 90%;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: darkblue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 10px 0 5px 0;
        }

        img.avatar {
            height: 10%;
            width: 10%;
            border-radius: 10%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        media screen and (max-width: 300px) {
            span .psw

        {
            display: block;
            float: none;
        }

        .cancelbtn {
            width: 100%;
        }
        }
    </style>
</head>
<body>

    <h2>Login</h2>

    @using (Html.BeginForm())
    {

        <form action="/action_page.php" method="post">
            <div class="imgcontainer">

                <img src="~/Images/images.png">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                @*<input type="text" placeholder="Enter Username" name="uname" required>*@
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Admin name" })
                <span style="color:red">@Html.ValidationMessageFor(x => x.Username)</span>

                <label for="psw"><b>Password</b></label>
                @*<input type="password" placeholder="Enter Password" name="psw" required>*@
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                <span style="color:red">@Html.ValidationMessageFor(x => x.Password)</span>


                @*<input type="submit" value="Login" class="btn btn-success" />*@

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" value="Login" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>

            <div class="form-group">
                <p style="color:red">@ViewBag.error</p>

            </div>

        </form>

    }

</body>
</html>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
}